# Environment Variables (Sensitive Keys)
.env

# Logs
trade_log.txt
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
